<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="LogDbConnectionString" connectionString="Server=.;Database=LogDb;Trusted_Connection=True;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="LogPath" value="C:\CustomLogs"/>
    <add key="FtpAddress" value="ftp://ftp.educare.com"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>